---
import { type GetStaticPaths } from "astro";

import ContentPage from "@/components/content-page.astro";
import SubP from "@/components/sub-p.astro";
import PageLayout from "@/layouts/page-layout.astro";

import lemmalists from "../../jsons/lemma_context.json";

type Lemma = {
	entity_id: string;
	play_id: string;
	lemma: string;
	text_snipped: string;
	play_title: string;
	play_subtitle: string;
	act: Array<string>;
	scene: Array<string>;
	bibl: string;
};

type LemmaList = {
	index_name: string;
	matches: Array<Lemma>;
};

export const getStaticPaths = (() => {
	const ids = Object.keys(lemmalists);

	return ids.map((id) => {
		return {
			params: { id },
			props: { lemmalist: lemmalists[id] as LemmaList },
		};
	});
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const { lemmalist } = Astro.props;
---

<PageLayout title={id}>
	<ContentPage title={lemmalist.index_name}>
		{
			lemmalist.matches.map((lemmaObj) => (
				<div key={lemmaObj.entity_id}>
					<h2 class="border-b pb-2 text-xl font-medium">{lemmaObj.play_title}</h2>
					<SubP>„{lemmaObj.text_snipped}“</SubP>
					<p class="min-w-60 w-2/4 pl-2">{lemmaObj.bibl}</p>
				</div>
			))
		}
	</ContentPage>
</PageLayout>
