---
import { Image } from "astro:assets";

import A from "@/components/a.astro";
import ContentPage from "@/components/content-page.astro";
import LeadP from "@/components/lead-p.astro";
import { ccby3_url, nestroy_statue } from "@/config/image_metadata.config";
import { links } from "@/config/navigation.config";
import PageLayout from "@/layouts/page-layout.astro";
---

<PageLayout title={links.projectvienna.label}>
	<ContentPage title={links.projectvienna.title} layout="full-width">
		<div class="grid gap-8 md:grid-cols-[1fr_320px]">
			<LeadP>
				The project utilizes digital tools for extraction and georeferencing of the <a
					href="https://pmb.acdh.oeaw.ac.at/">information (place names, persons and institutions)</a
				>, which concern the Viennese context and references by Nestroy in his plays and letters.
				The outcome of the project aspires to create a substantial supplement for the personal names
				and toponyms indices of the Historical-Critical edition of Nestroy’s works (HKA, 1977ff),
				and to visualise and interconnect the Viennese background information in the works of the
				playwright, a crucial fact for further sociolinguistic and literary approaches.
			</LeadP>
			<figure class="">
				<Image
					alt={nestroy_statue.description}
					src={nestroy_statue.image}
					class="rounded-lg border shadow-xl"
				/>
				<figcaption class="px-4 py-1 text-right text-sm text-neutral-500">
					<A href={ccby3_url}>{nestroy_statue.licence}</A>
				</figcaption>
			</figure>
		</div>
		<div id="vienna_map" class="not-prose mb-5 h-[45vh] rounded-lg border"></div>
		<div id="places_table"></div>
		<script>
			import { build_map_and_table } from "./scripts/make_map.mjs";
			let map_cfg = {
				//base_map_url: "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
				base_map_url: "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
				attribution:
					'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
				subdomains: "abcd",
				maxZoom: 20,
				initial_zoom: "15",
				initial_coordinates: [48.209, 16.37],
				//base_map_url: "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
				json_url:
					"https://raw.githubusercontent.com/NestroyCA/baserow-entities/main/json_dumps/vienna_places_tabulator.json",
				max_zoom: "19",
				on_row_click_zoom: "16",
				div_id: "vienna_map",
			};
			let table_cfg = {
				headerFilterLiveFilterDelay: 600,
				maxHeight: "50vh",
				layout: "fitColumns",
				responsiveLayout: "collapse",
				paginationCounter: "rows",
				pagination: "local",
				paginationSize: 10,
				width: "100%",
				langs: {
					default: {
						pagination: {
							counter: {
								showing: "",
								of: "of",
								rows: "",
							},
						},
					},
				},
			};

			let wms_cfg = {
				wms_url: "https://data.wien.gv.at/daten/wms?version=1.1.1",
				wmsOptions: {
					service: "WMS",
					version: "1.1.1",
					request: "GetMap",
					contextualWMSLegend: "0",
					crs: L.CRS.EPSG4326,
					dpiMode: "7",
					featureCount: "10",
					format: "image/png",
					layers: "HISTWIENPL1858OGD",
					url: "https://data.wien.gv.at/daten/wms?version%3D1.1.1",
					opacity: 0.5,
				},
			};
			build_map_and_table(map_cfg, table_cfg, wms_cfg);
		</script>
	</ContentPage>
</PageLayout>
