---
import ContentPage from "@/components/content-page.astro";
import { links } from "@/config/navigation.config";
import PageLayout from "@/layouts/page-layout.astro";
---

<PageLayout title={links.entities_places.label}>
	<ContentPage title={links.entities_places.title} layout="full-width">
		<div id="worldmap" class="not-prose min-h-[50vh] md:min-h-screen"></div>
		<div id="places_table"></div>
		<script>
			import { build_map_and_table } from "./scripts/make_map.mjs";
			let cfg = {
				initial_zoom: "13",
				initial_coordinates: [48.210033, 16.363449],
				base_map_url: "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
				json_url:
					"https://raw.githubusercontent.com/NestroyCA/baserow-entities/main/json_dumps/vienna_places_tabulator.json",
				max_zoom: "19",
				on_row_click_zoom: "16",
			};
			build_map_and_table(cfg);
		</script>
	</ContentPage>
</PageLayout>
